---
---

#crane
  height: 100%

#container
  position: absolute

  $w: 365 * 48px

  left: 50%
  width: $w
  margin-left: -$w/2

  top: 50%
  height: 100px
  margin-top: -50px

.day
  float: left
  width: 48px
  height: 48px
  font: 18pt sans-serif
  background-color: #ebfbff
  text-align: center

.today
  border-bottom: solid

.weekday6, .weekday0, .holiday
  background-color: #ffefeb
