!!!
%html
  %head
    %title Calendar in a row
    %link(rel="stylesheet" href="index.css")

  %body
    #container
    %script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    %script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.min.js")
    %script(type="text/javascript" src="index.js")
